body {
  background-color: #f7bacc;
  font-family: 'Spline Sans', sans-serif;
  text-align: center;
  color: #48d244;
  font-weight: 700;
  overflow: hidden;
}

.center {
  vertical-align: center;
}

p {
  color: #48d244;
  font-weight: 300;
  border: 0px solid green;
}

#above{
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 0.5vw;
}

#below{
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: 0.5vw;
}

#result {
  font-weight: 700;
  font-size: 20vw;
  line-height: 0.01vw;
  letter-spacing: 1vw;
}

.tooltip {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 2vw;
  text-align: left;
  height:auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 37vw;
  height: auto;
  border-radius: 6px;
  border-color: #48d244;
  border-width: 5px;
  background-color: white;
  padding: 2vw;
  font-weight: 300;
  line-height: 1.2;
  bottom: 100%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
