:root {
  --fg: #fc3b49;
  --bg: #e5f2f2;
}

*{
  margin: auto;
  padding: 0px;

  color: var(--fg);
}
body {
  background-color: var(--bg);
  width: 80vh;
  font-family: 'Spline Sans', sans-serif;
  text-align: center;
  color: var(--fg);
  font-weight: 300;
}

header{
  width: 100%;
  height: 10vw;
  background-color: var(--bg);
}

footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
  height:auto;
}

.page_title {
  position: fixed;
  top: 2vh;
  left: 4vh;
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
  text-align: left;
  font-weight: 500;
}

.date {
  position: fixed;
  top: 6vh;
  left: 4vh;
  font-size: 1.5vh;
  letter-spacing: 0.05vw;
  text-align: left;
  margin-bottom: 1000px;
}

p {
  color: var(--fg);
  border: 0px solid green;
}


.container {
  height: 65vh;
  display: grid;
  grid-template-areas:
    "B D D D F"
    "C E E E A"
    "H H H H H";
  column-gap:  20px;
  row-gap:  50px;
  margin: 5vw 0px 10vw;
  }

[class^="box-"] {
/* To place the letter at the center */
  display: grid;

  height: 10vh; /* y / x */
    /*-width: 2px 0px 3px;
  padding: 10px 0px 15px;*/
}

.box-A{
  grid-area: A;

}
.box-B{
  grid-area: B;
}
.box-C{
  grid-area: C;
}
.box-D{
  grid-area: D;

}
.box-E{
  grid-area: E;
}
.box-F{
  grid-area: F;
}
.box-G{
  grid-area: G;
}
.box-H{
  grid-area: H;
}

.item-lead{
  font-size: 1.5vw;
  letter-spacing: 0.1vw;
  text-align: left;
  font-weight: 400;

}

.item-data{
  font-size: 3vh;
  letter-spacing: 0.05vw;
  text-align: left;
  font-weight: 700;
}

.item-data-big{
  font-size: 5vh;
  letter-spacing: 0.05vw;
  text-align: left;
  font-weight: 700;
}

.item-data-bigger{
  font-size: 7vh;
  letter-spacing: 0.05vw;
  text-align: left;
  font-weight: 700

}

.item-data-ranking{
  font-size: 1.7vh;
  letter-spacing: 0.05vw;
  text-align: left;
  font-weight: 600;
  margin-top: 2vh;
  line-height: 1.5;
}

/* Hyperlink styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Tooltip styling */
.tooltip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2vw;
  text-align: left;
  height:auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 37vw;
  height: auto;
  border-radius: 6px;
  border-color: #48d244;
  border-width: 5px;
  background-color: white;
  padding: 2vw;
  font-weight: 300;
  color: var(--fg);
  line-height: 1.2;
  bottom: 100%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
