body {
  background-color: #f7bacc;
}


*{
  font-family: 'Spline Sans', sans-serif;
  text-align: center;
  color: #48d244;
}

result.result {
  color: #000000;
  font-size: 20vw;
  letter-spacing: 1vw;
    line-height: 0.8;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

p{
  color: #48d244;
}

p.intro {
  font-size: 5vw;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
  line-height: 0.8;
}

.tooltip {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 2vw;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: white;
  border-radius: 6px;
  border-color: #d33d3e;
  border-width: 1vw;
  padding: 0.1vw 1vw 0.2vw;
    bottom: 100%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -23vw;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
