:root {
  --fg: #f1f0ed;
  --bg: #01a161;
}

*{
  margin: auto;
  padding: 0px;
  color: var(--fg);
}
body {
  background-color: var(--bg);
  width: 80%;
  font-family: 'Spline Sans', sans-serif;
  text-align: center;
  color: var(--fg);
  font-weight: 300;
}

header{
  width: 100%;
  height: 10vw;
  background-color: var(--bg);
}

footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
  height:auto;
}

.page_title {
  position: fixed;
  top: 2vh;
  left: 4vh;
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
  text-align: left;
  font-weight: 500;
  color: var(--fg);
}

.date {
  position: fixed;
  top: 6vh;
  left: 4vh;
  font-size: 1.5vh;
  letter-spacing: 0.05vw;
  text-align: left;
  margin-bottom: 1000px;
  color: var(--fg);
}

p {
  color: var(--bg);
  border: 0px solid green;
}


.container {
  height: 65vh;
  max-height: 65vh;
  width: 60%;
  }

  table {
    width: 100%;
    border-spacing:1vh;
  }


  tr {
  height: 5.8%;
  margin: 2vh;

  }

  .rank{
    width: 10%;
    text-align: right;
    vertical-align: bottom;
    font-size: 2vh;
    padding-right: 0.8vw;
    padding-bottom: 0.6vh;
    font-weight: 500;
  }

  .name{
    width: 60%;
    text-align: left;
    vertical-align: bottom;
    font-size: 3vh;
    font-weight: 400;
  }

  .steps{
    width: 30%;
    text-align: right;
    vertical-align: bottom;
    font-size: 3vh;
    font-weight: 300;
    letter-spacing: 0.1vw;
    font-kerning: none;
  }


/* Hyperlink styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Tooltip styling */
.tooltip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2vw;
  text-align: left;
  height:auto;
  font-size: 3vh;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 37vw;
  height: auto;
  border-radius: 6px;
  border-color: #48d244;
  border-width: 5px;
  background-color: white;
  padding: 2vw;
  font-weight: 300;
  color: var(--bg);
  line-height: 1.2;
  bottom: 100%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
