:root {
  --fg: #007848;
  --bg: #dfd4f3;
}

*{
  margin: auto;
  padding: 0px;
  background-color: var(--bg);
  color: var(--fg);
}
body {
  background-color: var(--bg);
  width: 70%;
  font-family: 'Spline Sans', sans-serif;
  text-align: center;
  color: var(--fg);
  font-weight: 300;
}

header{
  width: 100%;
  height: 10vw;
  background-color: var(--bg);
}

footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
  height:auto;
}

.page_title {
  position: fixed;
  top: 20px;
  left: 40px;
  font-size: 2.5vw;
  letter-spacing: 0.1vw;
  text-align: left;
  font-weight: 500;
}

.date {
  position: fixed;
  top: 20px;
  left: 40px;
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
  text-align: left;
  margin-bottom: 1000px;
}

p {
  color: var(--fg);
  font-weight: 300;
  border: 0px solid green;
}

.chart_div{
  width: 100%;
}

[class^="box-"] {
/* To place the letter at the center */
  display: grid;
  place-items: center;
  /*border-style: solid;
  border-width: 2px 0px 3px;
  padding: 10px 0px 15px;*/
}

.container {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
  margin:auto;
  column-gap:  1vw;
  row-gap:  1vw;
  align-items: start;
  margin: 5vw 0px 10vw;
}

#above{
    font-size: 5vw;
    letter-spacing: 0.1vw;
}

#below{
  font-size: 5vw;
  letter-spacing: 0.1vw;
}

#KMresult{
}

#totalresult {
}

/* Hyperlink styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Tooltip styling */
.tooltip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2vw;
  text-align: left;
  height:auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 37vw;
  height: auto;
  border-radius: 6px;
  border-color: #48d244;
  border-width: 5px;
  background-color: white;
  padding: 2vw;
  font-weight: 300;
  color: var(--fg);
  line-height: 1.2;
  bottom: 100%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
